/Users/grosso/Desktop/Programming_source/Learning/flower/flower_classification/FlowerClassifier/__init__.py
/Users/grosso/Desktop/Programming_source/Learning/flower/flower_classification/FlowerClassifier/deploy.prototxt
/Users/grosso/Desktop/Programming_source/Learning/flower/flower_classification/FlowerClassifier/flower-labels.txt
/Users/grosso/Desktop/Programming_source/Learning/flower/flower_classification/FlowerClassifier/FlowerClassifier.mlmodel
/Users/grosso/Desktop/Programming_source/Learning/flower/flower_classification/FlowerClassifier/oxford102.caffemodel

swift/flower_recognition/FlowerClassifier.mlmodel
